<br>
<br>
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>
<div class="container">
{{# each products }}
    <div class="row">
{{# each this }}
        <div class="col-md-4">
            <div class="product-item">
                <div class="pi-img-wrapper">
                    <a href="/product-view/{{ this._id }}"><img src="{{ this.imagePath }}" class="img-responsive" alt="{{ this.title }}"></a>
                </div>
                <h3><a href="/product-view/{{ this._id }}">{{ this.title }}</a></h3>
                <div class="pi-price">${{ this.price }}</div>
                <a href="/add-to-cart/{{this._id}}" class="btn add2cart">Add to cart</a>
            </div>
        </div>
{{/each}}
    </div>
{{/each}}
</div>
